* {
    box-sizing: border-box;
}

.card-container {
    max-width: 67.5em;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.card-container .card {
    margin: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
    flex-grow: 1;
    flex-basis: 20%;
}

.card-container .card2 {
    margin: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .05);
    flex-basis: 45%;
}

.card-container img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.card-container .content {
    padding: 5px 10px;
    margin: 0 0 10px;
}