@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
#navbar{
    background-color: rgba(23, 212, 33, 0.663);
}
.container>h1{
    color: white;
}
.nav-items, .drop{
    display: inline-block;
    margin: auto
}

.container{
    display: flex;
    justify-content:space-around;
    margin: 10px;
    padding: 10px;
    line-height: 50px;

}
#navbar .container ul li a {
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    margin: 0px 5px;
    border-radius: 5px;
}
#navbar .container ul li a:hover{
    background-color: bisque;
    border-radius: 5px;
    color: blue;
}
.drop-content {
    display: none;
    position: absolute;
    background-color: #110303;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1
}
.drop:hover .drop-content{
    display: block;
}
.drop-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
