body{
    display: flex;
    background-image: url(../images/pizza.jpg);
    width: 100vh;
    height: 100vh;
    background-size:cover ; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

 /* .main{
    text-align: center;
    display: flex;
    padding:40% 40% 40% 100% ;
    justify-content: center;
    
}
.Pizza-icon{
    display: flex;
    justify-content: center;
} */
    
h2{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    color: blue;
    /* padding: 40%; */
} 