.box {
    float: left;
    position: relative;
    display: inline-block;
    margin: 10px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: bounce 1.5s cubic-bezier(.82, .1, .14, 1.12)  infinite alternate; 
  }
  
  .box1{
     animation-delay: 0.1s;
     /* background-color: #ADEEEF; */
  }
  
  .box2{
     animation-delay: 0.2s;
     /* background-color: #FC7F6F; */
     animation-timing-function: ease-in-out;
  }
  
  .box3{
     animation-delay: 0.3s;
     /* background-color: #84CDFC; */
     animation-timing-function: ease-in;
  }
  
  .box4{
     animation-delay: 0.4s;
     /* background-color: #F0E786; */
     animation-timing-function: ease-in;
  }
  
  @keyframes bounce{
    0%{
      transform: translateY(-30px);
    }
    
    70%{
      transform: translateY(30px);
    }
    
    80%{
      transform: translateY(25px);
    }
    
    100%{
      transform: translateY(25px);
    }
  }
  
  /* Default Page style */
  .wrap{
    /* border: 1px dashed #ccc; */

    color: #da6767;
    font: 1em sans-serif;
    /* font-size: 50px; */
    font-family: arial;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    justify-content:center;
  }
  
  .container{
    /* background-color:#957f7f2a; */
    padding: 0 20px 20px;
  }