/* Datei: style3.css
 */

/* Styling alle a-Elemente wo das
   Attribut href mit http:// beginnt
 */
a[href^="http://"] {
 text-decoration: none;
 border-bottom: 1px dotted blue;
}

/* Styling für a-Elemente wo das
   Attribut href mit .pdf endet
 */
a[href$=".pdf"] {
  text-decoration: none;
  color: black;
  padding: 1px;
  border: 2px dotted gray;
}
/* Styling für a-Elemente wo im Attribut
   href die Textfolge mydomain enthalten ist
 */
a[href*=mydomain] { font-weight: bold; }
